.carrousel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 415px;
  width: 85%;
  border-radius: 25px;
}

.arrowLeft, .arrowRight {
  cursor: pointer;
  padding: 0;
}

.account {
  position: absolute;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  left: 50%;
  bottom: 25px;
}

@media (max-width: 768px) {
  .carrousel {
    width: 90%;
    height: 255px;
    border-radius: 10px;
  }

  .arrowLeft {
    height: 19px;
  }
  .arrowRight {
    height: 19px;
  }

  .account {
    display: none;
  }
}