header {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .logoHeader {
    width: 145px;
  }
}
