header {
  width: 100%;
  padding: 40px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  header {
    padding: 20px 20px 0 20px;
  }

  .logoHeader {
    width: 145px;
  }
}
