.navBar {
  display: flex;
  grid-gap: 57px;
}

.navBar a {
  color: #ff6060;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.activeLink {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navBar {
    grid-gap: 10px;
  }

  .navBar a {
    font-size: 12px;
  }
}
