.footer {
    height: 210px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

img {
    display: flex;
    justify-content: center;
    justify-self: center;
    color: white;
}

p {
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    
}