.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  width: 86%;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 40px;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 25px;
}

.banner .tag {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .banner {
    width: 90%;
    height: 180px;
    margin-top: 20px;
  }

  .banner .tag {
    padding: 0 16px 0 16px;
    font-size: 36px;
    line-height: 120%;
  }
}
